### Exp-3: Working with JSON files

- JSON: JavaScript Object Notation
- interchange format that is easy for humans and machines
- data serialization and communication
- dictionary like structure

## Creating json object

In [12]:
import json
import numpy as np
import pandas as pd

In [2]:
x=np.arange(0,10,1)
x=x.tolist()

In [3]:
data = {
    "name": "Cristiano Ronaldo",
    "age": 38,
    "email": "xyz@abc.com",
    "speed":x,
    "is_GOAT": True,
    "hobbies": ["Swimming", "Traveling", "Breaking Records"],
    "address": {
        "street": "123 Main St",
        "city": "New York",
        "zip_code": "10001"
    }
}

In [4]:
json_object = json.dumps(data,indent=1)
json_object

'{\n "name": "Cristiano Ronaldo",\n "age": 38,\n "email": "xyz@abc.com",\n "speed": [\n  0,\n  1,\n  2,\n  3,\n  4,\n  5,\n  6,\n  7,\n  8,\n  9\n ],\n "is_GOAT": true,\n "hobbies": [\n  "Swimming",\n  "Traveling",\n  "Breaking Records"\n ],\n "address": {\n  "street": "123 Main St",\n  "city": "New York",\n  "zip_code": "10001"\n }\n}'

In [5]:
f=open('D:\SEM 3\Python for Data Science\example_1.json')
example_1=json.load(f)
print(example_1)

for i in example_1:
    print(i,example_1[i])

{'fruit': 'Apple', 'size': 'Large', 'color': 'Red'}
fruit Apple
size Large
color Red

In [10]:
with open('D:\SEM 3\Python for Data Science\example_2.json', 'r') as file:
    etp = json.load(file)

questions = []

for topic in etp["quiz"].keys():
    for question_num in etp["quiz"][topic].keys():
        question = etp["quiz"][topic][question_num]["question"]
        q_option = etp["quiz"][topic][question_num]["options"]
        answer = etp["quiz"][topic][question_num]["answer"]
        _question = {}
        _question["topic"] = topic
        _question["question"] = question
        _question["options"] = ", ".join(list(q_option))
        _question["answer"] = answer
        questions.append(_question)

# Print the extracted questions and answers
for question in questions:
    print(f"Topic: {question['topic']}")
    print(f"Question: {question['question']}")
    print(f"Options: {question['options']}")
    print(f"Answer: {question['answer']}\n")

Topic: sport
Question: Which one is correct team name in NBA?
Options: New York Bulls, Los Angeles Kings, Golden State Warriros, Huston Rocket
Answer: Huston Rocket

Topic: maths
Question: 5 + 7 = ?
Options: 10, 11, 12, 13
Answer: 12

Topic: maths
Question: 12 - 8 = ?
Options: 1, 2, 3, 4
Answer: 4

In [13]:
df = pd.DataFrame().from_records(questions)
df

,topic,question,options,answer
0,sport,Which one is correct team name in NBA?,"New York Bulls, Los Angeles Kings, Golden Stat...",Huston Rocket
1,maths,5 + 7 = ?,"10, 11, 12, 13",12
2,maths,12 - 8 = ?,"1, 2, 3, 4",4